@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
	background: linear-gradient(135deg, #6a6ea7 0%, #ac789a 100%);
	/*+background: url(images/bg.jpg);*/
background-attachment: fixed;
font-family: Arial, Helvetica, sans-serif;
background-size: cover;
margin: 0;
padding: 0;
text-align: left;

}
.content-1 {
    width: 600px;
    height: 800px;
	float: left;
	margin-left: 14%;
	border-radius: 24px;
	/*background-color:rgba(219, 219, 219, 0.363); */
	background-color:rgba(185, 150, 192, 0.144);
	text-align: center;
	padding: 32px 32px;
	margin-bottom: 0%;
}

#person{
	background:url(images/person.png) no-repeat;
	height: 24%;
	margin-left: 35% ;
	padding-left: 1%;
}
.content-2 {
	width: 21%;
    height: 500px;
	float: right;
	margin-right:16%;
	border-radius: 24px;
	background:url(images/handim.png) no-repeat;
	text-align: center;
	padding: 32px 32px;
	margin-top: 8%;
}


.welcome{

    color: var(--primary-text, #0C1421);
    text-align: center;
    font-family: 'Roboto', sans-serif ;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: 0.36px;
	margin-bottom: 0px;
	margin-top: 50px;
}


.welcomealt{

    color: black;
    font-family:'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0;
  }
  
 

  
  #login {
	margin: 50px auto;
	width: 300px;
  }
  
  #login form {
	margin: auto;
	padding: 30px;
	border-radius: 10px;
	background: #000000;
  }
  
  .input{
	background: #F7FBFF;
	border-radius:10px;
	color: #7c7c7c;
	margin-bottom: 1.5em;
	padding: 0 16px;
	width: 80%;
	outline: 0;
	height: 50px;
  }
  .submitbtn {
	border-radius: 12px;
	background: rgb(194, 159, 180);
	border: 0;
	width: 70%;
	height: 40px;
	color: white;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
  }
  .submitbtn:hover {
	background: #b3b3b3;
	color: black;
  }

.h2{
	font-family:'Roboto';
	text-align: center;
	font-size: xx-large;
	
}
.header nav {
	background: rgba(0, 0, 0, 0.116);
    inline-size: auto;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	
	
}
	
.header nav ul li {
	float: center; 
	display: inline; 
}

.header nav a:link, .header nav a:visited {
	color: black;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.header nav a:hover, .header nav a:active,
.header nav .active a:link, .header nav .active a:visited {
	background-color:rgba(201, 142, 183, 0.404);
	color: #fff;
	text-shadow: none ;
}
	


.footer {
    background-color:rgba(0, 0, 0, 0.116);
    inline-size:auto;
    height: 40px;
    line-height: 40px;
    margin-top: 70%;
    text-align: center;
    border-radius: 5px;
    color: #000000;
}